*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #539798;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: inline-block;
    margin-top: 20px;
}

#headerLeft{
    display: inline-block;
    color: white;
    padding-right: 600px;
    padding-left: 200px;
    font-size: larger;
}

#headerRight{
    display: inline-block;
}

#headerRight li{
    display: inline-block;
    margin-left: 40px;
}

#headerRight a{
    text-decoration: none;
    color: white;
}




.body{
    color: white;
    margin-top: 400px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}

.body h1{
    font-size: xx-large;
}

.body h3{
    font-size: x-large;
}

#box{
    width: 200px;
    height: 30px;
    border: 2px solid white; 
    border-radius: 3px;
    padding-top: 9px;
    margin-left: 640px;
}

#box a{
    text-decoration: none;
    color: white;
}